body {
	font: normal 13px "微软雅黑", 'Microsoft Yahei', Arial, Tahoma;
	color: #666;
	/*margin: 50px 20px 0px 20px;*/
	text-align: center;
	margin: 0 auto;
}

/*导航栏*/
.breadcrumb {
	background-color: #F4F3F2;
	border: 1px solid #9B9B9B;
	border-left: 0;
	border-right:0;
	height: 33px;
	font-size: 14px;
}

li:hover,li:hover a,.sysadmin li:hover a,a.on {
	background-color: #ACDAF4;
	color: #0072DB;
}

a.on{
    background-color: #FAFAFA;
}

.adminli {
	position: relative;
	width: 80px;
	display: inline;
	float: left;
}

.adminli>a{
	text-decoration: none;
	cursor: pointer;
	display: block;
	padding: 7px;
}

.adminli>a.back{
	background: url(../img/back.png) no-repeat fixed 10px 9px;
	padding-left: 16px;
}

.adminli:hover{
	background-color: #ACDAF4;
}

.adminli:hover .sysadmin {
	display: block;
}

.breaditem{
	float: left;
	padding: 7px;
}

.sysadmin {
	position: absolute;
	overflow: hidden;
	top: 33px;
	left: 0px;
	z-index: 2;
	display: none;
	opacity: 0.9;
	margin: 0;
	padding: 0;
}

.sysadmin li {
	-moz-transition-delay: 0s;
	-o-transition-delay: 0s;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
	position: relative;
}

li:hover .sysadmin li {
	opacity: 1;
	-moz-transition-delay: 0.3s;
	-o-transition-delay: 0.3s;
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}

.sysadmin li a {
	border-color: #6E67A6;
	color: #e1f2f5;
	-moz-transition: background-color 0.5s ease, color 0.3s ease-out;
	-o-transition: background-color 0.5s ease, color 0.3s ease-out;
	-webkit-transition: background-color 0.5s ease, color 0.3s ease-out;
	-ms-transition: background-color 0.5s ease, color 0.3s ease-out;
	transition: background-color 0.5s ease, color 0.3s ease-out;
	background-color: #0491c7;
	font-size: 12px;
	text-decoration: none;
	font-weight: 500;
	display: block;
	padding: 8px 16px;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-webkit-transition: 0.5s;
	transition: 0.5s;
}

ul {
	list-style: none;
}

ul li {
	float: left;
}

section,header,footer,aside,article,nav {
	display: block;
}

.button {
	background-color: #FFFFFF;
	border: 1px solid #778899;
	color: #0072DB;
	font-family: "微软雅黑", 'Microsoft Yahei', Arial, Tahoma;
	margin: 3px;
	padding: 5px 12px;
}

.button:hover {
	background-color: #0072DB;
	color: #FFF;
	cursor: pointer;
}

/*搜索框*/
#search {
	text-align: center;
	margin: 20px auto;
}

#keyword {
	width: 200px;
}

#property,#keyword {
	font-family: "微软雅黑", 'Microsoft Yahei', Arial, Tahoma;
	padding: 6px;
	border: 1px solid #789;
}

#search_btn {
	margin-left: -5px;
}

/*Chrome Hach*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
	#search_btn {
		padding: 6px 14px;
	}
}

/*内容框*/


#editForm table {
	text-align: left;
}

table,#options ul {
	margin: 10px auto;
}

input[type=text],select {
	font-family: "微软雅黑", 'Microsoft Yahei', Arial, Tahoma;
}

#options ul {
	overflow: hidden;
	margin-left: 96px;
}

table,table td {
	border: 1px solid #cccccc;
	border-collapse: collapse;
}

table td{
    padding: 3px 5px;
}

.multi_button{
    padding: 1px 4px;
    cursor: pointer;
    color: #FFF;
    display: inline-block;
}

.multi_button.add{
    color: #000;
    background-color: #ACDAF4;
    margin: 2px;
}

.multi_button.add:hover{
    background-color: #0072DB;
    color: #FFF;
}

.multi_button.del{
    color: #000;
    background-color: #FFDAF4;
}

.multi_button.del:hover{
    background-color: red;
    color: #FFF;
}

/*Edit中的iFrame*/
#view {
	position: absolute;
	top: 10%;
	left: 50%;
	width: 800px;
	margin-left: -400px;
	height: 400px;
	overflow: hidden;
	background-color: #EEFCFF;
	border: 1px solid #CDCDCD;
	box-shadow: 4px 2px 6px #CDCDCD;
	-webkit-box-shadow: 4px 2px 6px #CDCDCD;
	-moz-box-shadow: 4px 2px 6px #CDCDCD;
	display: none;
}

#close {
	border-color: red;
	border-style: none none solid solid;
	border-width: 0 0 2px 2px;
	font-size: 18px;
	padding: 2px 8px;
	position: absolute;
	right: 70px;
	top: 10%;
	z-index: 2;
	cursor: pointer;
	color: red;
	display: none;
}

#close:hover {
	background-color: red;
	color: white;
}
